/*
This contains all the styles for the SMS program
*/
/*
    Created on : 22 Feb 2017, 12:41:12 PM
    Author     : Johannes
*/

* { /*formats all text in website*/
    font-family:helvitica sans-serif;
    font-size: 10pt;

}

h1 {
    font-size: 12pt;
    background-color: lightgray;
}


form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

/*input {
    width: 250px;
}*/

label {
    float: left;
    width: 100px; /* change this to whatever you want */
    /* these make it look nicer */
    text-align: left;
    padding-right: 10px;
    padding-left: 100px;
}


.appname {
    font-size:30pt;
    background-color: lightgray;
}

ul {
    list-style: none;
    margin: 20%;
    padding: 0;
    text-align: left;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0%;
   width: 9.5%;
   background-color: #f1f1f1;
   height: 100%;
   position: fixed;
   overflow: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    font-size: 12px;

}
